.c-0{margin:0px;padding:0px;color:#000000}
.c-1{margin:1px;padding:1px;color:#0003e5}
.c-2{margin:2px;padding:2px;color:#0007ca}
.c-3{margin:3px;padding:3px;color:#000baf}
.c-4{margin:4px;padding:4px;color:#000f94}
.c-5{margin:5px;padding:5px;color:#001379}
.c-6{margin:6px;padding:6px;color:#00175e}
.c-7{margin:7px;padding:0px;color:#001b43}
.c-8{margin:8px;padding:1px;color:#001f28}
.c-9{margin:9px;padding:2px;color:#00230d}
.c-10{margin:10px;padding:3px;color:#0026f2}
.c-11{margin:11px;padding:4px;color:#002ad7}
.c-12{margin:12px;padding:5px;color:#002ebc}
.c-13{margin:13px;padding:6px;color:#0032a1}
.c-14{margin:14px;padding:0px;color:#003686}
.c-15{margin:15px;padding:1px;color:#003a6b}
.c-16{margin:16px;padding:2px;color:#003e50}
.c-17{margin:17px;padding:3px;color:#004235}
.c-18{margin:18px;padding:4px;color:#00461a}
.c-19{margin:19px;padding:5px;color:#0049ff}
.c-20{margin:20px;padding:6px;color:#004de4}
.c-21{margin:21px;padding:0px;color:#0051c9}
.c-22{margin:22px;padding:1px;color:#0055ae}
.c-23{margin:23px;padding:2px;color:#005993}
.c-24{margin:24px;padding:3px;color:#005d78}
.c-25{margin:25px;padding:4px;color:#00615d}
.c-26{margin:26px;padding:5px;color:#006542}
.c-27{margin:27px;padding:6px;color:#006927}
.c-28{margin:28px;padding:0px;color:#006d0c}
.c-29{margin:29px;padding:1px;color:#0070f1}
.c-30{margin:30px;padding:2px;color:#0074d6}
.c-31{margin:31px;padding:3px;color:#0078bb}
.c-32{margin:32px;padding:4px;color:#007ca0}
.c-33{margin:33px;padding:5px;color:#008085}
.c-34{margin:34px;padding:6px;color:#00846a}
.c-35{margin:35px;padding:0px;color:#00884f}
.c-36{margin:36px;padding:1px;color:#008c34}
.c-37{margin:37px;padding:2px;color:#009019}
.c-38{margin:38px;padding:3px;color:#0093fe}
.c-39{margin:39px;padding:4px;color:#0097e3}
.c-40{margin:40px;padding:5px;color:#009bc8}
.c-41{margin:41px;padding:6px;color:#009fad}
.c-42{margin:42px;padding:0px;color:#00a392}
.c-43{margin:43px;padding:1px;color:#00a777}
.c-44{margin:44px;padding:2px;color:#00ab5c}
.c-45{margin:45px;padding:3px;color:#00af41}
.c-46{margin:46px;padding:4px;color:#00b326}
.c-47{margin:47px;padding:5px;color:#00b70b}
.c-48{margin:48px;padding:6px;color:#00baf0}
.c-49{margin:49px;padding:0px;color:#00bed5}
.c-50{margin:50px;padding:1px;color:#00c2ba}
.c-51{margin:51px;padding:2px;color:#00c69f}
.c-52{margin:52px;padding:3px;color:#00ca84}
.c-53{margin:53px;padding:4px;color:#00ce69}
.c-54{margin:54px;padding:5px;color:#00d24e}
.c-55{margin:55px;padding:6px;color:#00d633}
.c-56{margin:56px;padding:0px;color:#00da18}
.c-57{margin:57px;padding:1px;color:#00ddfd}
.c-58{margin:58px;padding:2px;color:#00e1e2}
.c-59{margin:59px;padding:3px;color:#00e5c7}
.c-60{margin:60px;padding:4px;color:#00e9ac}
.c-61{margin:61px;padding:5px;color:#00ed91}
.c-62{margin:62px;padding:6px;color:#00f176}
.c-63{margin:63px;padding:0px;color:#00f55b}
.c-64{margin:64px;padding:1px;color:#00f940}
.c-65{margin:65px;padding:2px;color:#00fd25}
.c-66{margin:66px;padding:3px;color:#01010a}
.c-67{margin:67px;padding:4px;color:#0104ef}
.c-68{margin:68px;padding:5px;color:#0108d4}
.c-69{margin:69px;padding:6px;color:#010cb9}
.c-70{margin:70px;padding:0px;color:#01109e}
.c-71{margin:71px;padding:1px;color:#011483}
.c-72{margin:72px;padding:2px;color:#011868}
.c-73{margin:73px;padding:3px;color:#011c4d}
.c-74{margin:74px;padding:4px;color:#012032}
.c-75{margin:75px;padding:5px;color:#012417}
.c-76{margin:76px;padding:6px;color:#0127fc}
.c-77{margin:77px;padding:0px;color:#012be1}
.c-78{margin:78px;padding:1px;color:#012fc6}
.c-79{margin:79px;padding:2px;color:#0133ab}
.c-80{margin:80px;padding:3px;color:#013790}
.c-81{margin:81px;padding:4px;color:#013b75}
.c-82{margin:82px;padding:5px;color:#013f5a}
.c-83{margin:83px;padding:6px;color:#01433f}
.c-84{margin:84px;padding:0px;color:#014724}
.c-85{margin:85px;padding:1px;color:#014b09}
.c-86{margin:86px;padding:2px;color:#014eee}
.c-87{margin:87px;padding:3px;color:#0152d3}
.c-88{margin:88px;padding:4px;color:#0156b8}
.c-89{margin:89px;padding:5px;color:#015a9d}
.c-90{margin:90px;padding:6px;color:#015e82}
.c-91{margin:91px;padding:0px;color:#016267}
.c-92{margin:92px;padding:1px;color:#01664c}
.c-93{margin:93px;padding:2px;color:#016a31}
.c-94{margin:94px;padding:3px;color:#016e16}
.c-95{margin:95px;padding:4px;color:#0171fb}
.c-96{margin:96px;padding:5px;color:#0175e0}
.c-97{margin:97px;padding:6px;color:#0179c5}
.c-98{margin:98px;padding:0px;color:#017daa}
.c-99{margin:99px;padding:1px;color:#01818f}
.c-100{margin:100px;padding:2px;color:#018574}
.c-101{margin:101px;padding:3px;color:#018959}
.c-102{margin:102px;padding:4px;color:#018d3e}
.c-103{margin:103px;padding:5px;color:#019123}
.c-104{margin:104px;padding:6px;color:#019508}
.c-105{margin:105px;padding:0px;color:#0198ed}
.c-106{margin:106px;padding:1px;color:#019cd2}
.c-107{margin:107px;padding:2px;color:#01a0b7}
.c-108{margin:108px;padding:3px;color:#01a49c}
.c-109{margin:109px;padding:4px;color:#01a881}
.c-110{margin:110px;padding:5px;color:#01ac66}
.c-111{margin:111px;padding:6px;color:#01b04b}
.c-112{margin:112px;padding:0px;color:#01b430}
.c-113{margin:113px;padding:1px;color:#01b815}
.c-114{margin:114px;padding:2px;color:#01bbfa}
.c-115{margin:115px;padding:3px;color:#01bfdf}
.c-116{margin:116px;padding:4px;color:#01c3c4}
.c-117{margin:117px;padding:5px;color:#01c7a9}
.c-118{margin:118px;padding:6px;color:#01cb8e}
.c-119{margin:119px;padding:0px;color:#01cf73}
.c-120{margin:120px;padding:1px;color:#01d358}
.c-121{margin:121px;padding:2px;color:#01d73d}
.c-122{margin:122px;padding:3px;color:#01db22}
.c-123{margin:123px;padding:4px;color:#01df07}
.c-124{margin:124px;padding:5px;color:#01e2ec}
.c-125{margin:125px;padding:6px;color:#01e6d1}
.c-126{margin:126px;padding:0px;color:#01eab6}
.c-127{margin:127px;padding:1px;color:#01ee9b}
.c-128{margin:128px;padding:2px;color:#01f280}
.c-129{margin:129px;padding:3px;color:#01f665}
.c-130{margin:130px;padding:4px;color:#01fa4a}
.c-131{margin:131px;padding:5px;color:#01fe2f}
.c-132{margin:132px;padding:6px;color:#020214}
.c-133{margin:133px;padding:0px;color:#0205f9}
.c-134{margin:134px;padding:1px;color:#0209de}
.c-135{margin:135px;padding:2px;color:#020dc3}
.c-136{margin:136px;padding:3px;color:#0211a8}
.c-137{margin:137px;padding:4px;color:#02158d}
.c-138{margin:138px;padding:5px;color:#021972}
.c-139{margin:139px;padding:6px;color:#021d57}
.c-140{margin:140px;padding:0px;color:#02213c}
.c-141{margin:141px;padding:1px;color:#022521}
.c-142{margin:142px;padding:2px;color:#022906}
.c-143{margin:143px;padding:3px;color:#022ceb}
.c-144{margin:144px;padding:4px;color:#0230d0}
.c-145{margin:145px;padding:5px;color:#0234b5}
.c-146{margin:146px;padding:6px;color:#02389a}
.c-147{margin:147px;padding:0px;color:#023c7f}
.c-148{margin:148px;padding:1px;color:#024064}
.c-149{margin:149px;padding:2px;color:#024449}
.c-150{margin:150px;padding:3px;color:#02482e}
.c-151{margin:151px;padding:4px;color:#024c13}
.c-152{margin:152px;padding:5px;color:#024ff8}
.c-153{margin:153px;padding:6px;color:#0253dd}
.c-154{margin:154px;padding:0px;color:#0257c2}
.c-155{margin:155px;padding:1px;color:#025ba7}
.c-156{margin:156px;padding:2px;color:#025f8c}
.c-157{margin:157px;padding:3px;color:#026371}
.c-158{margin:158px;padding:4px;color:#026756}
.c-159{margin:159px;padding:5px;color:#026b3b}
.c-160{margin:160px;padding:6px;color:#026f20}
.c-161{margin:161px;padding:0px;color:#027305}
.c-162{margin:162px;padding:1px;color:#0276ea}
.c-163{margin:163px;padding:2px;color:#027acf}
.c-164{margin:164px;padding:3px;color:#027eb4}
.c-165{margin:165px;padding:4px;color:#028299}
.c-166{margin:166px;padding:5px;color:#02867e}
.c-167{margin:167px;padding:6px;color:#028a63}
.c-168{margin:168px;padding:0px;color:#028e48}
.c-169{margin:169px;padding:1px;color:#02922d}
.c-170{margin:170px;padding:2px;color:#029612}
.c-171{margin:171px;padding:3px;color:#0299f7}
.c-172{margin:172px;padding:4px;color:#029ddc}
.c-173{margin:173px;padding:5px;color:#02a1c1}
.c-174{margin:174px;padding:6px;color:#02a5a6}
.c-175{margin:175px;padding:0px;color:#02a98b}
.c-176{margin:176px;padding:1px;color:#02ad70}
.c-177{margin:177px;padding:2px;color:#02b155}
.c-178{margin:178px;padding:3px;color:#02b53a}
.c-179{margin:179px;padding:4px;color:#02b91f}
.c-180{margin:180px;padding:5px;color:#02bd04}
.c-181{margin:181px;padding:6px;color:#02c0e9}
.c-182{margin:182px;padding:0px;color:#02c4ce}
.c-183{margin:183px;padding:1px;color:#02c8b3}
.c-184{margin:184px;padding:2px;color:#02cc98}
.c-185{margin:185px;padding:3px;color:#02d07d}
.c-186{margin:186px;padding:4px;color:#02d462}
.c-187{margin:187px;padding:5px;color:#02d847}
.c-188{margin:188px;padding:6px;color:#02dc2c}
.c-189{margin:189px;padding:0px;color:#02e011}
.c-190{margin:190px;padding:1px;color:#02e3f6}
.c-191{margin:191px;padding:2px;color:#02e7db}
.c-192{margin:192px;padding:3px;color:#02ebc0}
.c-193{margin:193px;padding:4px;color:#02efa5}
.c-194{margin:194px;padding:5px;color:#02f38a}
.c-195{margin:195px;padding:6px;color:#02f76f}
.c-196{margin:196px;padding:0px;color:#02fb54}
.c-197{margin:197px;padding:1px;color:#02ff39}
.c-198{margin:198px;padding:2px;color:#03031e}
.c-199{margin:199px;padding:3px;color:#030703}
.c-200{margin:200px;padding:4px;color:#030ae8}
.c-201{margin:201px;padding:5px;color:#030ecd}
.c-202{margin:202px;padding:6px;color:#0312b2}
.c-203{margin:203px;padding:0px;color:#031697}
.c-204{margin:204px;padding:1px;color:#031a7c}
.c-205{margin:205px;padding:2px;color:#031e61}
.c-206{margin:206px;padding:3px;color:#032246}
.c-207{margin:207px;padding:4px;color:#03262b}
.c-208{margin:208px;padding:5px;color:#032a10}
.c-209{margin:209px;padding:6px;color:#032df5}
.c-210{margin:210px;padding:0px;color:#0331da}
.c-211{margin:211px;padding:1px;color:#0335bf}
.c-212{margin:212px;padding:2px;color:#0339a4}
.c-213{margin:213px;padding:3px;color:#033d89}
.c-214{margin:214px;padding:4px;color:#03416e}
.c-215{margin:215px;padding:5px;color:#034553}
.c-216{margin:216px;padding:6px;color:#034938}
.c-217{margin:217px;padding:0px;color:#034d1d}
.c-218{margin:218px;padding:1px;color:#035102}
.c-219{margin:219px;padding:2px;color:#0354e7}
.c-220{margin:220px;padding:3px;color:#0358cc}
.c-221{margin:221px;padding:4px;color:#035cb1}
.c-222{margin:222px;padding:5px;color:#036096}
.c-223{margin:223px;padding:6px;color:#03647b}
.c-224{margin:224px;padding:0px;color:#036860}
.c-225{margin:225px;padding:1px;color:#036c45}
.c-226{margin:226px;padding:2px;color:#03702a}
.c-227{margin:227px;padding:3px;color:#03740f}
.c-228{margin:228px;padding:4px;color:#0377f4}
.c-229{margin:229px;padding:5px;color:#037bd9}
.c-230{margin:230px;padding:6px;color:#037fbe}
.c-231{margin:231px;padding:0px;color:#0383a3}
.c-232{margin:232px;padding:1px;color:#038788}
.c-233{margin:233px;padding:2px;color:#038b6d}
.c-234{margin:234px;padding:3px;color:#038f52}
.c-235{margin:235px;padding:4px;color:#039337}
.c-236{margin:236px;padding:5px;color:#03971c}
.c-237{margin:237px;padding:6px;color:#039b01}
.c-238{margin:238px;padding:0px;color:#039ee6}
.c-239{margin:239px;padding:1px;color:#03a2cb}
.c-240{margin:240px;padding:2px;color:#03a6b0}
.c-241{margin:241px;padding:3px;color:#03aa95}
.c-242{margin:242px;padding:4px;color:#03ae7a}
.c-243{margin:243px;padding:5px;color:#03b25f}
.c-244{margin:244px;padding:6px;color:#03b644}
.c-245{margin:245px;padding:0px;color:#03ba29}
.c-246{margin:246px;padding:1px;color:#03be0e}
.c-247{margin:247px;padding:2px;color:#03c1f3}
.c-248{margin:248px;padding:3px;color:#03c5d8}
.c-249{margin:249px;padding:4px;color:#03c9bd}
.c-250{margin:250px;padding:5px;color:#03cda2}
.c-251{margin:251px;padding:6px;color:#03d187}
.c-252{margin:252px;padding:0px;color:#03d56c}
.c-253{margin:253px;padding:1px;color:#03d951}
.c-254{margin:254px;padding:2px;color:#03dd36}
.c-255{margin:255px;padding:3px;color:#03e11b}
.c-256{margin:256px;padding:4px;color:#03e500}
.c-257{margin:257px;padding:5px;color:#03e8e5}
.c-258{margin:258px;padding:6px;color:#03ecca}
.c-259{margin:259px;padding:0px;color:#03f0af}
.c-260{margin:260px;padding:1px;color:#03f494}
.c-261{margin:261px;padding:2px;color:#03f879}
.c-262{margin:262px;padding:3px;color:#03fc5e}
.c-263{margin:263px;padding:4px;color:#040043}
.c-264{margin:264px;padding:5px;color:#040428}
.c-265{margin:265px;padding:6px;color:#04080d}
.c-266{margin:266px;padding:0px;color:#040bf2}
.c-267{margin:267px;padding:1px;color:#040fd7}
.c-268{margin:268px;padding:2px;color:#0413bc}
.c-269{margin:269px;padding:3px;color:#0417a1}
.c-270{margin:270px;padding:4px;color:#041b86}
.c-271{margin:271px;padding:5px;color:#041f6b}
.c-272{margin:272px;padding:6px;color:#042350}
.c-273{margin:273px;padding:0px;color:#042735}
.c-274{margin:274px;padding:1px;color:#042b1a}
.c-275{margin:275px;padding:2px;color:#042eff}
.c-276{margin:276px;padding:3px;color:#0432e4}
.c-277{margin:277px;padding:4px;color:#0436c9}
.c-278{margin:278px;padding:5px;color:#043aae}
.c-279{margin:279px;padding:6px;color:#043e93}
.c-280{margin:280px;padding:0px;color:#044278}
.c-281{margin:281px;padding:1px;color:#04465d}
.c-282{margin:282px;padding:2px;color:#044a42}
.c-283{margin:283px;padding:3px;color:#044e27}
.c-284{margin:284px;padding:4px;color:#04520c}
.c-285{margin:285px;padding:5px;color:#0455f1}
.c-286{margin:286px;padding:6px;color:#0459d6}
.c-287{margin:287px;padding:0px;color:#045dbb}
.c-288{margin:288px;padding:1px;color:#0461a0}
.c-289{margin:289px;padding:2px;color:#046585}
.c-290{margin:290px;padding:3px;color:#04696a}
.c-291{margin:291px;padding:4px;color:#046d4f}
.c-292{margin:292px;padding:5px;color:#047134}
.c-293{margin:293px;padding:6px;color:#047519}
.c-294{margin:294px;padding:0px;color:#0478fe}
.c-295{margin:295px;padding:1px;color:#047ce3}
.c-296{margin:296px;padding:2px;color:#0480c8}
.c-297{margin:297px;padding:3px;color:#0484ad}
.c-298{margin:298px;padding:4px;color:#048892}
.c-299{margin:299px;padding:5px;color:#048c77}